* {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(121, 121, 121);
}

nav {
  position: inherit;
  display: flex;
  text-align: justify;
  justify-content: space-around;
}

img > nav {
  width: 60px;
}

img:hover > nav {
  cursor: pointer;
  box-shadow: 0 0 5px antiquewhite;
  border-radius: 16px;
}

.nav-button {
  text-align: center;
}

button {
  text-decoration: none;
  cursor: pointer;
  color: rgb(121, 121, 121);
  background-color: aliceblue;
  border: transparent;
  border-radius: 5px;
}

button:hover {
  text-decoration: none;
  border: 1px solid antiquewhite;
  cursor: pointer;
  background-color: rgb(253, 254, 255);
}

section {
  text-align: center;
}

.imagem-empresa {
  max-width: 50vw;
}

.div-sobre {
  border: 1px solid antiquewhite;
  background-color: aliceblue;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 25vw;
  max-width: 50vw;
  text-align: justify;
  justify-content: right;
}

.padd {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: -3px;
}

div {
  text-align: center;
}

.lexa {
  width: 300px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.text-small {
  padding: 0;
  margin: 0;
  color: darkgrey;
}

.home-button {
  font-size: 16px;
}

.cards-home {
  box-shadow: 0px 0px 5px antiquewhite;
  margin: 10px;
  border-radius: 4px;
  width: 250px;
  height: 400px;
  border: 1px solid antiquewhite;
  background-color: aliceblue;
}

.faixa-cards {
  display: flex;
  justify-content: center;
}

.imagens-cards {
  width: 250px;
  height: 320px;
  border-bottom: 1px solid antiquewhite;
}

i {
  color: red;
}
